body{
    background-color: beige;
}
header{
    background-color: dimgrey;
}
nav ul{
    display: flex;
    justify-content: end;
}
nav ul li{
    text-align: left;
    display: inline-block;
    margin: 20px;
    font-size: 30px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: brown;
    font-size: 32px;
}